# Node.js
node_modules/
.env
.env.*
.envrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.tar

# VSCode
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Others
dist/
build/ 

spec.md